volumes:
  ollama_storage:
    external: true

networks:
  reverse-proxy:
    external: true

services:
  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    networks:
      - reverse-proxy
    restart: unless-stopped
    ports:
      - 11434:11434
    volumes:
      - ollama_storage:/root/.ollama

  ollama-pull-llama-cpu:
    image: ollama/ollama:latest
    networks:
      - reverse-proxy
    container_name: ollama-pull-llama
    volumes:
      - ollama_storage:/root/.ollama
    entrypoint: /bin/sh
    environment:
      - OLLAMA_HOST=ollama:11434
    command:
      - "-c"
      - "sleep 3; ollama pull llama3.2"
    depends_on:
      - ollama

