volumes:
  ollama_storage:
    external: true

networks:
  reverse-proxy:
    external: true

services:
  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    networks:
      - reverse-proxy
    restart: unless-stopped
    environment:
      - OLLAMA_HOST=0.0.0.0
      - OLLAMA_ORIGINS=*
      # - OLLAMA_KEEP_ALIVE=24h
    # deploy:
    #   resources:
    #     reservations:
    #       devices:
    #         - driver: nvidia
    #           count: 1
    #           capabilities: [gpu]
    healthcheck:
      test: ["CMD-SHELL", "ollama list || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5
    ports:
      - 11434:11434
    volumes:
      - ollama_storage:/root/.ollama

  ollama-pull-llama-cpu:
    image: ollama/ollama:latest
    networks:
      - reverse-proxy
    container_name: ollama-pull-llama
    volumes:
      - ollama_storage:/root/.ollama
    entrypoint: /bin/sh
    environment:
      - OLLAMA_HOST=ollama:11434
    command:
      - "-c"
      - "sleep 3; ollama pull llama3.2"
      - "sleep 3; ollama pull gemma3"      
      - "sleep 3; ollama pull mistral"          
    depends_on:
      - ollama

